*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type:none;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
/* =====end global ==========*/
.homebaner{
    background-image: url('/img/xheader-bg.jpg.pagespeed.ic.tH7J0b8Dc2.webp');
    background-size: cover;
    width: 100%;
    background-position:right;
    background-repeat:no-repeat;
    height: 700px;
    background-color: rgb(136, 136, 136);;
    background-blend-mode:multiply;
    position: relative;
    display: flex;
}
.header{
    display: flex;
}
.menu1{
    position: fixed;
    margin: 5px;
    padding: 10px;
    width: 98%;
    z-index: 1;
}
.menu1>ul{
    display: flex;
    justify-content: space-between;
}
.menu1>ul>li{
    color: aliceblue;
    margin-left: 20px;
}
.icon{
    font-size: 25px;
    margin-right: 10px;
}
.menu2{
    position: absolute;
    margin: 5px;
    padding: 15px;
    width: 60%;
    z-index: 1;
    right: 0;
}
.menu2>ul{
    display: flex;
    justify-content: space-evenly;
}
.menu2>ul>li{
    font-size: 11px;
    
}
.menu2>ul>li>a{
    color:white;
    font-weight: 600;
}
.menu2{
    display: none;
}
.submenu{
    position: absolute;
    width: 10%;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    line-height: 20px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    
}
.submenu>li>a{
    color: black;
}
.menu2>ul>li:nth-of-type(6):hover .submenu{
    visibility: visible;
    opacity: 1;
}
.banercontent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 35px;
    color: rgb(255, 255, 255);

}
.h4{
    letter-spacing: 3px;
    font-weight: 400;
    color: white;
}
.h1{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
.btn{
    width: 50%;
    align-self: center;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #6434fe;
    color: aliceblue;
    padding: 15px;
    border: transparent;
    
}
.p{
    line-height: 20px;
}
.about-area{
    padding: 10px;
}
.about-area>figure>img{
    max-width: 100%;
}
.about-area>section>div:nth-of-type(1){
    margin-top: 50px;
}
.about-area>section>div:nth-of-type(1)>h1{
    color: #6434fe;
    font-weight: bold;
    font-size: 30px;
    
}
.p2{
    color: rgba(0, 0, 0, 0.541);
    margin-top: 30px;
    margin-bottom: 20px;
}
.diamond{
    font-size: 25px;
    color: #6434fe;
    
}
.about-area>section>div>a>h4{
    margin-top: 20px;
    color: black;
}
/* end section two===================== */
.service-area{
    display: flex;
    flex-direction: column;
    border: 1px solid darkcyan;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
.service-title>h1{
    font-size: 36px;
}
.service-title>p{
    color: rgba(150, 150, 150, 0.836);
    margin-top: 20px;
}
.sigle-service{
    margin-top: 100px;
}
.sigle-service>h4{
    margin-top: 40px;
    margin-bottom: 20px;
}
.sigle-service>p{
    color: rgba(150, 150, 150, 0.836);
}
.sigle-service>button{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background:transparent;
    border: 1px solid rgb(233, 223, 204);
    line-height: 42px;
    font-weight: 500;
}
.sigle-service>button>a{
    color: black;
}
.sigle-service>button:hover{
    background: rgb(158,0,255);
    background: linear-gradient(90deg, rgba(158,0,255,1) 0%, rgba(235,0,255,1) 100%);
}
.sigle-service>button:hover a{
    color: #fff;
}
.icon-2{
    border: 1px solid darkblue;
    width: 100%;
    font-size: 50px;
    
}

/* =======responsive========== */
@media screen and (min-width:768px) {
    .about-area{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid darkblue;
  
    }
    .about-area>section{
        width: 50%;
       
    }
    .banercontent{
        align-self: center;
        width: 100%;
    }
    .icon{
        display: none;
    }
    .menu2{
        display: block;
    }
    .homebaner{
        background-position: center;
    }
    .about-area>section{
        width: 100%;
    }
    .gr{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .sigle-parent{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
  
}